<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chirkut</title>
    <style>
        /* Reset some default styles */
        body, h1, p {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Noto Sans', sans-serif; /* Google's Noto Sans font */
            font-weight: bolder;
            background-color: #f3f3f3;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            overflow: hidden; /* Prevent overflow of animated shapes */
            position: relative; /* Establish positioning context for pseudo-elements */
        }

        .container {
            text-align: center;
            max-width: 600px;
            z-index: 2; /* Ensure content is above animated shapes */
            position: relative; /* Ensure z-index works */
        }

        a {
            color: #007BFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        @keyframes float {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-30px);
            }
            100% {
                transform: translateY(0);
            }
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        body::before, body::after {
            content: '';
            position: absolute;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: rgba(0, 123, 255, 0.5);
            animation: float 2s ease-in-out infinite;
            z-index: 1; /* Ensure circles are behind content */
        }

        body::before {
            top: -100px;
            left: -100px;
            animation-delay: 0s;
        }

        body::after {
            bottom: -100px;
            right: -100px;
            animation-delay: 0.75s; /* Delay second circle animation */
        }

        @media only screen and (max-width: 600px) {
            body {
                padding: 20px;
            }

            .container {
                max-width: 100%;
            }
        }

        body, p {
            animation: fadeIn 3s ease-in-out;
        }

    </style>

</head>
<body>

<% if (locals.shortId) { %>
    <div class="container">
        <p>Redirect Url 🚀</p>
        <br>
        <a href="http://localhost:3000/u/<%= locals.shortId %>">http://localhost:3000/u/<%= locals.shortId %></a>
    </div>
<% } %>

</body>
</html>
